*{padding: 0%;
margin: 0%;
box-sizing: border-box;}

body {
    background-color: lightseagreen;
    height: 100%;
    margin: 0%;
    }
/*Estrellas*/
.centro {display: flex;
      font-size: 2rem;
      justify-content: center;}

/*div principal*/
.testimonio{ padding: 5rem;
             background-color:lightblue;
             border-radius: 5rem;
             }

/*div testimonios*/
.testimonios{background-color: pink;
             margin-bottom: 2rem;
             padding: 3rem;
             border-radius: 10rem;
            }

.testimonios img {
    width: 300px;          /* Increase the size */
    height: auto;
    border-radius: 6%;     
    display: block;          /* Ensures image is treated as a block element */
    margin: 0 auto;        
    align-items: center;
    margin: 0 auto;}          /* Centers the image horizontally */



/*parrafos*/
p{font-size: 1.2rem;
color: black;
text-align: center;}
