*{padding: 0%;
margin: 0%;
box-sizing: border-box;}

body {
    height: 100%;
    margin: 0%;
    }
/*Estrellas*/
.centro {display: flex;
      font-size: 2rem;
      justify-content: center;}

/*div principal*/
.testimonio{ padding: 5rem;
             background-color: var(--campo);
             border-radius: 5rem;
             margin: 0 2rem 7rem 2rem;
             }

/*div testimonios*/
.testimonios{background-color: var(--bubble);
             margin-bottom: 2rem;
             padding: 3rem;
             border-radius: 10rem;
            }

.testimonios img {
    width: 250px;          /* Increase the size */
    height: auto;
    border-radius: 6%;     
    display: block;          /* Ensures image is treated as a block element */
    margin: 0 auto;        
    align-items: center;
    margin: 0 auto;}          /* Centers the image horizontally */



/*parrafos*/
main p{font-size: 1.4rem;
color: black;
text-align: center;}

.testimonio h3{
    background-color: var(--bubble);
}


@media screen and (min-width: 1080px) {
    .testimonios img{ width: 450px;
                      height: auto;}
    .testimonio{
                padding: 6rem;
                border-radius: 5rem;
                margin: 0 2rem 7rem 2rem;}
            } 