
  /* Reset básico */
   
  * {margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#navi{
    display: none;
}
body {
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0%;
    
}

/* Estrellas */
.estrellas {
    font-size: 2rem;
    color: black;
   flex-direction: row;
    justify-content: center;
}


.testimonios-container {
    background-color: white;
    width: 100%;
    max-width: 80%;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 12px;
    padding: 0%;  
    margin: 10%; 
    
}


/* Tarjetas de testimonios */
.testimonios {
    display: flex;
    flex-direction: column;
    gap:5rem;
    text-align: center;
  
}

.testimonio {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    width: 100%;
    max-width: 70%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    
}

div{display: flex;
    flex-direction: column;
    align-items: center;}   
/* Imagen de perfil */
.testimonio img {
    width: 100px;
    border-radius: 6%;
    margin-right:  20remrem;
    align-items: center;
    
}

.d-flex img{
    margin: 0 auto;
    width: 20rem;
}
.cuadrado{object-fit: contain;
width: 100px;
height: 300px;
border-radius: 50%;} 

/* Contenido del testimonio */
.contenido {
    flex: 1;
    text-align: left;
}

.contenido h2{
    font-size: 2rem;
    color: #333;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
}
.d-flex{
    display:;
flex-direction: column;}


.contenido p {
    margin-bottom: 3rem;
    color: rgb(59, 47, 47);
    display: flex;
    font-size: larger;
}

footer {
    background-color: rgb(43, 70, 88);
    width: 100%;
    color: white;
    display: flex;
    text-align: center;
    height: 5rem;
    position: fixed;
    bottom: 0;
}
footer a{
    color: white;
}
footer div{
    padding: 0 2rem;
}
