/* Estilos generales */
*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
  }
  
  Body {
    Font-family: Arial, sans-serif;
    Padding: 2rem;
    Background-color: white;
  }
  
  /* Estilos de la galería */
  /*SECCION DE GALERIA*/
  .galeria {
    display: grid;
    Grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    Gap: 1.5rem;
  }
  /*DIV GALERIA*/
  .icono-galeria{Overflow: hidden;
                 Border-radius: 0.5rem;}

  /*img*/
  .icono-galeria img {Width: 100%;
                      Height: auto;
                      Transition: transform 0.3s ease;
                    }
  
  .icono-galeria img:hover {Transform: scale(1.1);}