*   {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
a   {text-decoration: none; color: rgb(0, 0, 0)}
:root{
    --menu: rgb(133, 223, 188);
    --campo: ;
}
body{
    background-color: ;
}
header{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    border-radius: 0 0 2rem 2rem;
}
header label{
    display: flex;
    margin: 0.7rem 2rem -0.3rem 1rem;
}
.submit{
    justify-content: flex-end;
}
.button{
    padding: 0.3rem;
    font-size: 0.9rem;
    background-color: rgb(209, 204, 204);
    border: 0.1rem solid gray;
    border-radius: 0.6rem;
}
.home{
    text-align: center;
    grid-area: 3 / 4 / 4 / 2;
}
#butt{
    display: none;
}
#lab{
    background-color: rgb(71, 104, 104);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-radius: 2rem;
}
.ham{
    color: black;
    margin-right: 3rem;
}
#butt:checked ~ #navi{
    background-color: var(--menu);
    text-align: center;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    border-radius: 2rem;
}
#navi{
    display: none;
}
h1{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
h3{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}
h4{
    text-decoration: underline;
    margin: 2rem;
    padding: 0.5rem 0.5rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1rem;
    margin: 1rem 2rem;
}
.Q{
    background-color: var(--campo);
    border-radius: 2rem;
}
.who{
    text-align: center;
}
.staff{
    background-color: var(--campo);
    display: flex;
    justify-content: center;
    border-radius: 0 0 2rem 2rem;
}
main h3{
    background-color: var(--campo);
    border-radius: 2rem 2rem 0 0 ;
}
.staff img{
    border-radius: 0 4rem;
    height: 8rem;
    width: 8rem;
}
.profe{
    text-align: center;
    margin: 1rem;
    padding: 1rem 0;
}
.date{
    display: flex;
    background-color: var(--campo);
    border-radius: 0 0 2rem 2rem;
}
.calendario{
    margin-left: 1rem;
    margin-top: 2rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: cadetblue;
    border-radius: 2rem;
}
.prx_ev{
    margin: 0 2rem;
    text-align: center;
}
.overf{
    width: 90%;
    overflow-x: scroll;
    margin: 0 auto;
    background-color: var(--campo);
    border-radius: 0 0 2rem 2rem;
}
.eve{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    max-height: 250px;
    width: 1000px;
}
.ult_ev{
    text-align: center;
    width: 500px;
}
.caru{
    padding: 2rem 5rem;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 5px
}
.caru img{
    height: 20rem;
    scroll-snap-align: center;
    border-radius: 15px;
}
.vid_int{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 2rem;
}
.faq{
    background-color: rgb(146, 247, 247);
    border-radius: 2rem;
    margin-bottom: 5rem;
}
.faq_box{
    height: 10rem;
    overflow: scroll;
    border-top: 2px solid black;
    margin: 0 2rem;
}
.faq p, .faq li{
    margin: 0 2rem;
}

/*Footer*/
footer {
    background-color: rgb(43, 70, 88);
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 5rem;
    position: fixed;
    bottom: 0;
}
footer a{
    color: white;
}
footer div{
    padding: 0 2rem;
}
.fotsec div{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -2rem;
}
.fotsec img{
    margin: 0.5rem;
    height: 2rem;
    margin: 0.2rem;
}
.legal{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1080px){
    .list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 22rem;
        width: 100%;
    }
}

@media screen and (min-width: 1920px){
    #lab{
        display: none;
    }
    #navi{
        display: flex;
        justify-content: center;
        background-color: var(--menu);
        border-radius: 2rem;
    }
    .desk{
        display: flex;
        align-items: center;
    }
    .vid_int{
        position: absolute;
        top: 35%;
        right: 18%;
        border-radius: 2rem;
    }
    .caru{
        height: 20rem;
        margin: 42rem 2rem 0 0;
    }
    .list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 15rem;
        width: 100%;
    }
   
}
