* {
    margin: 0;
    padding: 0;
}

.titulo_inscripcion {margin-top: 1rem;
                    margin-bottom: 1rem;
                margin-left: 1rem;}

.texto_inscripcion {margin-top: 1rem;
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                max-width: 80%;}

#rgpd {margin-left: 0.5rem;}

.titulo_pago {margin-top: 2rem;
text-align: center;}

.metodo-pago {max-width: 90%;
            display: flex;
            justify-content: space-around;
           }

.botones {display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
         }

main form input {font-size: 2rem;
margin-left: 1rem;
margin-right: 0.2rem;
margin-bottom: 1rem;}

.mapa {display:none}

button {font-size: 1.5rem;
    width: 8rem;
    height: 2rem;
    border-radius: 5%;
    margin-bottom: 6rem;
    }

.boton_cancelar {background-color: black;
                color: white;}

@media screen and (min-width: 1080px) {
    .formulario {margin-right: 10%;
    }
    
    main form input {font-size: 2rem;
        margin-left: 1rem;
        margin-right: 0.2rem;
        margin-bottom: 2rem;
       }  
    .titulo_pago {margin-top: 2rem;
       margin-left: 0.5rem;
    text-align: left;}

    .metodo-pago {max-width: 90%;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        font-size: 1.5rem;
        margin-left: 0.5rem;
       }

         }

@media screen and (min-width: 1920px) {
    .formulario {margin-right: 50%;
    }
    
    #rgpd {margin-left: 0.5rem;}
    
    .metodo-pago {max-width: 90%;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-left: 1rem;
       }
    
    .mapa {display: block;
        position: absolute;
        right: 1rem;
        top: 20rem;        
    }

    .botones {display: flex;
        justify-content: flex-start;
        gap: 1rem;
        margin-left: 0.5rem;
         }
    
    main form input {font-size: 2rem;
        margin-left: 1rem;
        margin-right: 0.2rem;
        margin-bottom: 2rem;
       }  
    
    .titulo_pago {margin-top: 2rem;}

    .metodo-pago {font-size: 1.5rem;
            max-width: 90%;
            display: flex;
            justify-content: flex-start
                  }

}