*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.imagen-1, .imagen-2, .imagen-3{

    img{
   
width: 90%;
height: 100%;
object-fit: cover;
border-radius: 1rem;
margin-top: 0.6rem;
margin-bottom: 0.6rem;
margin-left: 0.4rem;
opacity: 60%;
}
}

.global{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 0.6rem;
}

.evento-1, .evento-2 , .evento-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*stilos commun */
h2{
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2rem;
}  

.evento-1 h3, .evento-2 h3, .evento-3 h3{

    font-size: 1.3rem;
    margin-top: -1rem;
    font-weight: bold;
    margin-bottom: -2rem;
}

ul li{
    text-align: justify;
    width: 100%;
    font-size: 0.9rem;
    width: 95%;
    margin-top: 1rem;
    padding-top: -2rem;

    span{
        font-weight: bold;
    }
}

.programa-1, .programa-2, .programa-3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    background-color: rgb(209, 204, 204);
    border: 0.1rem solid gray;
    border-radius: 0.6rem;
}
/*stilos commun */

.programa-1, .programa-2, .programa-3{
    i {
        margin-right: 0.7rem;
        margin-left: 0.2rem;
    }
    }

.fecha {
        position: absolute;
        top: 30%;
        left: 8%;
        transition: transform 0.3 ease;
        z-index: 1;
        background-color:rgba(69, 145, 170, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
          border: 0.1rem solid blue;
        border-radius: 0.6rem;
    }
    
.fecha:hover{
    transform: scale(1.2);
}

.fecha-evento-2{
    position: absolute;
    top: 66%;
    left: 8%;
    transition: transform 0.3 ease;
        z-index: 1;
        background-color:rgba(69, 145, 170, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        border: 0.1rem solid blue;
        border-radius: 0.6rem;
    }

.fecha-evento-2:hover{
    transform: scale(1.2);
}

.fecha-evento-3{
    position: absolute;
    top: 105%;
    left: 8%;
    transition: transform 0.3 ease;
        z-index: 1;
        background-color:rgba(69, 145, 170, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        border: 0.1rem solid blue;
        border-radius: 0.6rem;
    }

.fecha-evento-3:hover{
    transform: scale(1.2);
}

.img-background{
    background-image: url(../assets_eventos/img_assets/calendar-2.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.4rem;
    

      
}

.container-global{
    height: 100%;
    width: 100%;
}
.container-1{
    background-image: url(../assets_eventos/img_assets/Program-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    opacity: 60%;
    border-radius: 0.4rem;
    margin-bottom: 0.4rem;
    h2{
        margin-top: 0;
        position: relative;
        top: 5%;
        text-align: center;
        
    }
}

.container-2{
    background-image: url(../assets_eventos/img_assets/program-2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    opacity: 60%;
    border-radius: 0.4rem;
    margin-bottom: 0.4rem;

}

.container-3{
    background-image: url(../assets_eventos/img_assets/program-3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    opacity: 60%;
    border-radius: 0.4rem;

}

