*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.imagen-1, .imagen-2, .imagen-3{
    position: relative;

    img{
display: flex;
width: 90%;
height: 100%;
object-fit: cover;
border-radius: 1rem;
margin-top: 0.6rem;
margin-bottom: 0.6rem;
margin-left: 0.4rem;
opacity: 60%;
}
}


/*Flechas + animacion Keyframes*/
/*Flechas*/
.global{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 0.6rem;

    .flecha-animada-1{
        span{
        color: rgba(4, 4, 126, 0.582);
        top: 10%;
        font-size: 6rem;
        position: absolute;
        left: -70%;
        transform: rotate(55deg); /*para girar la flecha*/
        opacity: 80%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */

}
    }
    .flecha-animada-2{
        span{
        color: rgba(4, 4, 126, 0.582);
        font-size: 6rem;
        position: absolute;
        left: -60%;
        top: 15%;
        transform: rotate(500deg); /*para girar la flecha*/
        opacity: 80%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}
    }
}
/*Fin flechas*/


/* Inicio animacion*/
/*Flecha izqierda*/
@keyframes moverFlecha {
    0% {
        transform: translate(0, 0) rotate(55deg);
    }

    100% {
        transform: translate(615px, 230px) rotate(55deg);
    }
}

/*Flecha derecha*/
@keyframes moverFlecha2 {
    0% {
        transform: translate(0, 0) rotate(500deg);
    }

    100% {
        transform: translate(820px, 220px) rotate(500deg);
    }
}
.fecha:hover ~ .flecha-animada-1 span {
    opacity: 1;
    animation: moverFlecha 1s forwards;
}

.fecha:hover ~ .flecha-animada-2 span {
    opacity: 1;
    animation: moverFlecha2 1s forwards;
}






/*Fin animacion*/
/*Flechas + animacion Keyframes*/

.evento-1, .evento-2 , .evento-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*stilos commun */
.title-h2{
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    font-weight: bolder;
}  

.evento-1 h3, .evento-2 h3, .evento-3 h3{

    font-size: 1.3rem;
    margin-top: -1rem;
    font-weight: bold;
    margin-bottom: -2rem;
}

ul li{
    text-align: justify;
    width: 100%;
    font-size: 0.9rem;
    width: 95%;
    margin-top: 1rem;
    padding-top: -2rem;

    span{
        font-weight: bold;
    }
}

.programa-1, .programa-2, .programa-3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    background-color: rgb(209, 204, 204);
    border: 0.1rem solid gray;
    border-radius: 0.6rem;
}
/*stilos commun */

.programa-1, .programa-2, .programa-3{
    i {
        margin-right: 0.7rem;
        margin-left: 0.2rem;
    }
    }


    
.fecha:hover{
    transform: scale(1.2);
}

.fecha-evento-2, .fecha-evento-3, .fecha{
    position: absolute;
    top: 50%;
    left: 20%;
    transition: transform 0.3 ease;
        z-index: 1;
        background-color:rgba(69, 145, 170, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        border: 0.1rem solid blue;
        border-radius: 0.6rem;
    }

.fecha-evento-2:hover{
    transform: scale(1.2);
}

.fecha-evento-3:hover{
    transform: scale(1.2);
}

.img-background{
    background-image: url(../assets_eventos/img_assets/calendar-programa-pg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 0;
    p{
        color: aliceblue;
        font-size: 6rem;
        margin-top: -3rem;
        font-weight: bold;
    
    }
}

    .container-global {
        background-image: url(../assets_eventos/img_assets/program-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; /*aunque se mueve la pagina se guarda la foto en su sitio*/
        background-position: center;
        min-height: 100vh; /*para resolver el problema de que el ancho de la imagen occupa todo el contenedor*/
        width: 100%;
        padding: 1rem;
        box-sizing: border-box; /*Esto evita que el padding aumente el tamaño total del contenedor*/
    }
    

.container-1{
   
    margin-top: -2rem;
    opacity: 90%;
}

.h2-1{
        background-color: rgba(6, 68, 88, 0.9)   ;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
        font-size: 2rem;
        color: aliceblue;
        border-radius: 0.2rem;
        
    }

.container-2{
    opacity: 90%;
    .h2-2{
        background-color: rgba(6, 68, 88, 0.9);
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        font-size: 2rem;
        color: aliceblue;
        border-radius: 0.2rem;
        border-top: 0.1rem solid black;
        border-radius: 0.2rem;
    }
}
.container-3{
    opacity: 90%;
    .h3-3{
        background-color: rgba(6, 68, 88, 0.9);
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        font-size: 2rem;
        color: aliceblue;
        border-radius: 0.2rem;
        border-top: 0.1rem solid black;
        border-radius: 0.2rem;
    }
}

/*Tabla*/
.horario {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(14, 185, 241, 0.5);
    color: black;
    font-size: 1.2rem;
}

.horario th, .horario td {
    border: 0.1rem solid black;
    padding: 0.5%;

}


/* Ajusta el ancho de las columnas */
.horario th:first-child,
.horario td:first-child {
    width: 25%; 
    text-align: center;
}

.horario th:last-child,
.horario td:last-child {
    width: 75%; 
}

/* Ajusta el ancho de las columnas */


.horario th {
    background-color: rgba(6, 68, 88, 0.9);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 1%;
    font-weight: bold;
}

.horario tr:nth-child(even) {
    background-color: rgba(14, 185, 241, 0.7);
}

/*Tabla*/


/*Margen para arreglar el problema del footer que esta pegado a la ultima imagen en la pagina eventos*/
.margen{
background-color: transparent;
width: 100%;    
height: 4rem;
margin-bottom: 2rem;
}


.margen-programas{
    background-color: wheat;
    width: 100%;
    height: 2rem;
    margin-top: 3rem;
}   
/*Margen para arreglar el problema del footer que esta pegado a la ultima imagen en la pagina eventos*/


@media screen  and (min-width: 1280px) {

.fecha {
        left: 30%;
        padding: 1.2rem 1.5rem;
}

.fecha-evento-2{
    top: 50%;
    left: 30%;
    padding: 1.2rem 1.5rem;
}

.fecha-evento-3{
    top: 40%;
    left: 30%;
    padding: 1.2rem 1.5rem;
}

.evento-1 h3, .evento-2 h3, .evento-3 h3{

    font-size: 2rem;
}

.title-h2{
    font-size: 2.5rem;
}

ul li{
    font-size: 1.6rem;
    width: 95%;
    margin-top: 2rem;
}

.programa-1, .programa-2, .programa-3{
    padding: 0.9rem;
    font-size: 1.5rem;
}
}


@media screen  and (min-width: 1800px) {

    .img-background{
        p{
            font-size: 7rem;
            text-align: center;
            margin-top: -3.5rem;
        }
    }

}

